<mat-card>
  <mat-toolbar color="primary">Agendamento</mat-toolbar>
  <mat-card-content>
     <form [formGroup]="form">

      <mat-form-field class="min-width" >
        <input matInput placeholder="Data Agendar" formControlName="dh_solicit_agenda" #dh_solicit_agenda>
        <mat-error *ngIf="form.get('dh_solicit_agenda')?.invalid">{{formUtils.getErrorMessage(form, "dh_solicit_agenda")}}</mat-error>
      </mat-form-field>

      <mat-form-field class="min-width" >
        <mat-label>Situacao</mat-label>
        <mat-select  matInput    formControlName="situacao_agenda"  #situacao_agenda   >
          <mat-option [value]="1">ATIVA</mat-option>
          <mat-option [value]="2">CANCELADA</mat-option>
          <mat-option [value]="3">CONCLUIDA</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('situacao_agenda')?.invalid">{{formUtils.getErrorMessage(form, "situacao_agenda")}}</mat-error>
      </mat-form-field>

    <mat-toolbar color="primary">
      <span>Cliente</span>
      <button mat-icon-button color="accent" >
      </button>
    </mat-toolbar>
    <table  style="width:50%"  >
      <tr>
        <td>
          <mat-form-field  class="full-width" >
            <mat-label>Cliente</mat-label>
            <mat-select formControlName="cliente" (change)="onChangeCliente()"  #cliente   >
              <mat-option *ngFor="let cliente of clientes" [value]="cliente.id_cliente">
                {{ cliente.nm_cliente }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <mat-toolbar color="primary">
      <span>Embarcação</span>
   </mat-toolbar>
   <table  style="width:50%"  >
    <tr>
      <td>
        <mat-form-field  class="full-width" >
          <mat-label>Embarcações</mat-label>
          <mat-select formControlName="embarcacao"   #embarcacao  >
            <mat-option *ngFor="let embarc of embarcacoes" [value]="embarc.id_embarc">
              {{ embarc.nm_embarc }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
  </table>
    </form>
  </mat-card-content>
  <mat-card-actions >
    <button  mat-raised-button color="primary" matTooltip="Pressione para Salvar"     >Salvar</button>
    <button  mat-raised-button  matTooltip="Pressione para Cancelar"   (click)="onCancel()"   >Cancelar</button>
  </mat-card-actions>


</mat-card>

