<div class="menu-container"  >
<button  mat-button [matMenuTriggerFor]="aboveMenu1"   >Cadastros</button>
<mat-menu #aboveMenu1="matMenu" class="custom-menu"  >
  <button mat-menu-item  (click)="navigateToRoute('/clientes')" >Clientes</button>
  <button mat-menu-item  >Usuarios</button>
  <button mat-menu-item  >Configurações</button>

</mat-menu>

<button mat-button [matMenuTriggerFor]="aboveMenu2">Definir</button>
<mat-menu #aboveMenu2="matMenu" class="custom-menu" >
  <button mat-menu-item  >Agenda</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="aboveMenu3">Relatórios</button>
<mat-menu #aboveMenu3="matMenu"  class="custom-menu"  >
  <button mat-menu-item   >Agendas</button>
  <button mat-menu-item   >Custos</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="aboveMenu4">Info</button>
<mat-menu #aboveMenu4="matMenu"  class="custom-menu"  >
  <button mat-menu-item   >Ajuda</button>
  <button mat-menu-item  >Sobre   </button>
  <button mat-menu-item  >Sair</button>
</mat-menu>

</div>





