
<p></p>
<mat-card>
  <mat-toolbar color="primary">Embarcações Disponiveis</mat-toolbar>
  <div>
    <table mat-table [dataSource]="embarcacao" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
     <th mat-header-cell *matHeaderCellDef>Código</th>
     <td mat-cell *matCellDef="let embar">{{embar.id}}</td>
    </ng-container>

     <ng-container matColumnDef="nm_embarc">
      <th mat-header-cell *matHeaderCellDef>Embarcação</th>
      <td mat-cell *matCellDef="let embar">{{embar.nm_embarc}}</td>
    </ng-container>

    <ng-container matColumnDef="tipo">
      <th mat-header-cell *matHeaderCellDef>Tipo</th>
      <td mat-cell *matCellDef="let embar">{{embar.tipo}}</td>
    </ng-container>

    <ng-container matColumnDef="nr_marina">
      <th mat-header-cell *matHeaderCellDef>Nro Marinha</th>
      <td mat-cell *matCellDef="let embar">{{embar.nr_marina}}</td>
    </ng-container>

    <ng-container matColumnDef="dh_registro">
      <th mat-header-cell *matHeaderCellDef>Data Registro</th>
      <td mat-cell *matCellDef="let embar">{{embar.dh_registro}}</td>
    </ng-container>

    <ng-container matColumnDef="id_situacao">
      <th mat-header-cell *matHeaderCellDef>Situacao</th>
      <td mat-cell *matCellDef="let embar">{{embar.id_situacao}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
</mat-card>

<mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Selecione Página">
</mat-paginator>
